.site-footer {
  background: $gray-dust
}

.site-footer .site-footer__main h4, .site-footer .site-footer__main .h4 {
  font-weight: bold;
  margin-bottom: 40px;
}

.site-footer .site-footer__main h4:after, .site-footer .site-footer__main .h4:after {
  background: $primary
}

.site-footer .site-footer__main .contact span, .site-footer .site-footer__main .openning span {
  color: $primary-dark;
}

.site-footer .site-footer__bottom {
  border-color: $primary-dark
}

.site-footer .site-footer__mid {
  //background: #d5c0a3;
}
.site-footer .site-footer__main,
.site-footer .site-footer__bottom {
  //background: #d5c0a3;
}

.site-footer .site-footer__top .newsletter .title {
  font-family: Dosis, serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: bold;
  vertical-align: top;
}
.site-footer .site-footer__top .newsletter .newsletter-form span {
  max-width: 640px;
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}
.site-footer .site-footer__top .newsletter .newsletter-form input[type='checkbox'] {
  width: 30px;
  height: 30px;
  margin: 0 0 20px 0;
  display: inline-block;
  float: left
}
.site-footer .site-footer__top .newsletter .newsletter-form label {
  font-weight: normal;
  cursor: pointer;
  text-transform: none
}
