.latest-posts-body .entry-meta {
  position: relative;
  padding: 10px 20px 20px
}

.owl-item .latest-posts-body .post-thumbnail {
  //position: absolute;
  //top:0;
  //left:0;
  //right:0;
  //bottom:0;
}

.latest-posts-body {
  margin-bottom: 0;
  padding: 0;
  background-size: cover;
  background-position: center center
}
