// Modules and Variables

@import "partials/base";

@import "layout/layout";

@import "partials/slider";
@import "partials/header";
@import "partials/headings";
@import "partials/footer";
@import "partials/accordion";
@import "partials/sidebar-cat";
@import "partials/collection-list";
@import "partials/widgets";
@import "partials/pagination";
@import "partials/product-single";

.btn.wishlist {
  display: none
}

.product-container .label,
.product-style-1 .label {
  font-size: 9px;
}


.contact-box .inner {
  height: 130px;
  padding: 30px 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 15px;
}

.owl-theme .owl-controls .owl-buttons div.owl-next {
  right: 15px;
}

.product-single #AddToCart {
  width: auto
}
